@import "tailwindcss";

:root {
  --color-bg: #f8fafc;
  --color-bg-secondary: #fff;
  --color-accent: #0ea5e9;
  --color-accent-light: rgba(14, 165, 233, 0.1);
  --color-accent-torch: rgba(29, 78, 216, 0.15);
  --color-text: #475569;
  --color-dark-1: #0f172a;
  --color-dark-2: #334155;
  --color-dark-3: #cbd5e1;
}

.dark {
  --color-bg: #0f172a;
  --color-bg-secondary: #1e293b;
  --color-accent: #38bdf8;
  --color-accent-light: rgba(56, 189, 248, 0.1);
  --color-text: #94a3b8;
  --color-dark-1: #e2e8f0;
  --color-dark-2: #cbd5e1;
  --color-dark-3: #334155;
}

@theme inline {
  --color-bg: var(--color-bg);
  --color-bg-secondary: var(--color-bg-secondary);
  --color-accent: var(--color-accent);
  --color-accent-light: var(--color-accent-light);
  --color-text: var(--color-text);
  --color-dark-1: var(--color-dark-1);
  --color-dark-2: var(--color-dark-2);
  --color-dark-3: var(--color-dark-3);
  /*----Fonts----*/
  --font-inter: var(--font-inter);
  --font-signature: agustina, sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
  --color-bg: #0f172a;
  --color-bg-secondary: #1e293b;
  --color-accent: #38bdf8;
  --color-accent-light: rgba(56, 189, 248, 0.1);
  --color-text: #94a3b8;
  --color-dark-1: #e2e8f0;
  --color-dark-2: #cbd5e1;
  --color-dark-3: #334155;
  }
} */

@font-face {
  font-family: agustina, sans-serif;
  src: url(/font/agustina.otf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@layer components {
  .d {
    @apply border border-red-500;
  }
  .w-container {
    @apply max-w-5xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}
